.header {
    display: flex;
    margin-bottom: 1em;
}

.header__text {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-left: 1em;
    margin-bottom: 0;
    align-self: end;
}

.header__subhead {
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: .5em;
    margin-left: 6em;
    align-self: start;
    font-style: italic;
}

img {
    border-radius: 50%;
    width: 110px;
    height: 100px
}

.reservationForm {
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    flex-direction: column;
    max-width: 35%;
    min-width: 500px;
    margin-bottom: 1em;
}

.label {
    font-size: 16px;
}

.button {
    width: fit-content;
    height: 2.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
    background-color: #474ea0;
}

.reservations__table {
    border-collapse: collapse;
    max-width: 35%;
    min-width: 35%;
}

.reservations__table td, .reservation__table th {
    padding: 8px;
    border-bottom: 1px solid #6b7a88; 
    border-top: 1px solid #6b7a88;
}

.reservations__table th {
    color: white;
    background-color: #6b7a88;
    text-align: left;
}

/* .reservations__table tr:nth-child(even) {
    background-color: #ebe9e9;
} */

.reservations__table--completed {
    background-color: #fbd4d2;
}

.reservation__delete {
    color: white;
    background-color: #a547dc;
}